<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="solutions.alterego.androidbound">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@drawable/ic_android_white_48dp">
    </application>

</manifest>
